.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.parent > h1 {
  margin: 5px;
}
.countdown {
  display: flex;
  gap: 15px;
}

.countdown > div > input {
  margin-top: 10px;
  outline: none;
  border: 1px solid turquoise;
  border-radius: 5px;
  padding: 10px;
}

.button__container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.button__container > button:nth-child(1) {
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  padding: 10px;
  outline: none;
  background: green;
  color: white;
  min-width: 100px;
}

.button__container > button:nth-child(2) {
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  padding: 10px;
  outline: none;
  background: red;
  color: white;
  min-width: 100px;
}

.button__container > button:nth-child(3) {
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  padding: 10px;
  outline: none;
  background: orange;
  color: white;
  min-width: 100px;
}

.timer__display {
  color: brown;
}

.timer__heading {
  color: tomato;
}

.countdown > div > input[type="number"]::-webkit-inner-spin-button,
.countdown > div > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
